[submodule "design"]
	path = packages/design
	url = git@github.com:rccyx/rccyx-design.git

[submodule "auth"]
	path = packages/auth
	url = git@github.com:rccyx/rccyx-auth.git

[submodule "api"]
	path = apps/api
	url = git@github.com:rccyx/rccyx-api.git

[submodule ".cursor"]
	path = .cursor
	url = git@github.com:rccyx/rccyx-.cursor.git

[submodule "actions"]
	path = .github/actions
	url = git@github.com:rccyx/rccyx-actions.git

[submodule "infrastructure"]
	path = infrastructure
	url = git@github.com:rccyx/rccyx-infrastructure.git
