[submodule "@restyx/next"]
	path = packages/@restyx/next
	url = git@github.com:rccyx/@restyx/next.git

[submodule "design"]
	path = packages/design
	url = git@github.com:rccyx/design.git

[submodule "auth"]
	path = packages/auth
	url = git@github.com:rccyx/auth.git
